<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>welcome_hero</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>411</integer>
			<key>height</key>
			<integer>399</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>411</integer>
			<key>originalHeight</key>
			<integer>-399</integer>
		</dict>
		<key>welcome_title</key>
		<dict>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>304</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>304</integer>
			<key>originalHeight</key>
			<integer>-208</integer>
		</dict>
		<key>welcome_playButton</key>
		<dict>
			<key>x</key>
			<integer>721</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>-106</integer>
		</dict>
		<key>welcome_aboutButton</key>
		<dict>
			<key>x</key>
			<integer>1186</integer>
			<key>y</key>
			<integer>156</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>-54</integer>
		</dict>
	</dict>
</dict>
</plist>
